<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>PCE Consulting</title>
    <!-- CSS -->
    <link rel="stylesheet" href="gallery.css" />
    <link rel="stylesheet" href="headerfooter.css" />
    <link rel="stylesheet" href="profile.css" />
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="profile.js" defer></script>
  </head>
  <body>
    <!-- ================= TOP BAR ================= -->
    <div class="top-bar">
      <div class="top-left">
        <span>⏰ Mon - Sat 10:00AM to 6:00PM</span>
        <span>📍 Mumbai, India</span>
        <div class="email-section">
          <a
            href="https://mail.google.com/mail/?view=cm&fs=1&to=info@pceengineering.com"
            >✉ info@pceengineering.com</a
          >
          <a
            href="https://mail.google.com/mail/?view=cm&fs=1&to=mk@pceengineering.com"
            >✉ mk@pceengineering.com</a
          >
        </div>
      </div>
      <div class="top-right">
        <a
          href="https://www.linkedin.com/company/pce-consulting-engineers-llp/posts/?feedView=all"
          class="social">
          <i class="fab fa-linkedin-in"></i>
        </a>

        <a
          href="https://youtube.com/@instpce3554?si=uPzl4tJ4LCkCrSov"
          class="social">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
    </div>

    <nav class="navbar">
      <div class="nav-container">
        <!-- Logo -->
        <div class="logo">
          <img src="images_about/PCE_2.png" alt="PCE Logo" />
        </div>

        <div class="nav-links">
          <a href="/" class="nav-item">Home</a>

          <!-- ABOUT DROPDOWN -->
          <div class="about-menu nav-item">
            About
            <div class="about-dropdown">
              <a href="/about">About Us</a>
              <a href="/service">Services</a>
              <a href="/project">Projects</a>
            </div>
          </div>

          <a href="/client" class="nav-item">Clients</a>
          <a href="/phoenix" class="nav-item">Phoenix Contact</a>
          <a href="/contact" class="nav-item">Contact</a>
        </div>
      </div>
    </nav>

    <!----------------------------------------- -- --- main section ----------------------- ------------------- -->
    <!-- ================= HERO IMAGE ================= -->
    <section class="multi-slider">
      <div class="single-image">
        <img src="images_about/industry.jpg" alt="PCE Consulting" />
      </div>
    </section>

    <div class="gallery-btn-container">
      <a href="gallery.html" class="view-gallery-btn"> View Gallery </a>
    </div>

    <section class="reading-section">
      <div class="bg-animation"></div>

      <div class="reading-container">
        <!-- LEFT DIV -->
        <div class="reading-box">
          <!-- <h3>Engineering Consultancy</h3> -->
          <p>
            <b>PCE Consulting and Engineers LLP</b> is a Mumbai-based
            engineering consultancy focusing on Technical Services, Manpower
            Outsourcing, and Engineering Training in Process Engineering &
            Equipment Design, Piping Engineering, and Instrumentation &
            Electrical Engineering.
          </p>

          <p>
            We provide detailed engineering consultancy and solutions to process
            plants across Oil & Gas, Refineries, Petrochemicals, Fertilizers,
            Chemicals, and Skid-based systems.
          </p>
          <p>
            Our diverse customer portfolio reflects our strong industry presence
            and the confidence clients place in our expertise and delivery
            capabilities.
          </p>
        </div>

        <!-- RIGHT DIV -->
        <div class="reading-box">
          <!-- <h3>Technology & Industry Support</h3> -->

          <p>
            PCE Consulting and engineers LLP business solutions provide a
            foundation upon which organizations can implement solutions that
            enable them to better manage information and streamline their
            business processes.
          </p>
          <p>
            PCE delivers services supported by high-end engineering software
            including Intergraph Smart Plant P&ID, SPI (IN-Tools), PV Elite,
            AutoCAD, and MicroStation. We also support pre-bid engineering,
            detailed engineering, inspection, and site supervision.
          </p>
        </div>
      </div>
    </section>

    <!-- ================= OUR STATS SECTION ================= -->
    <section class="stats-section">
      <div class="stats-container">
        <!-- Right Content -->
        <div class="stats-content">
          <h2>OUR STATS</h2>
          <p>
            We provide skilled and technical manpower for various project
            execution. We have bulk of expertise engineers from all disciplines.
          </p>
          <p>
            We also undertake projects at client location/site. This helps
            clients to retain valuable data within premises & effectively
            monitor schedule with proper coordination within project teams.
          </p>
        </div>
      </div>
    </section>

    <!-- ================= FOOTER ================= -->
    <footer class="footer">

    <div class="footer-container">

        <!-- Company -->
        <div class="footer-box company-box">

            <img src="static/home/logos/PCE_2.png" alt="PCE Logo" class="footer-logo">

            <p>
                PCE Consulting & Engineers LLP provides innovative engineering,
                automation and industrial solutions with a commitment to quality,
                safety and customer satisfaction.
            </p>

        </div>

        <!-- Quick Links -->
        <div class="footer-box">

            <h3>Quick Links</h3>

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/service">Services</a></li>
                <li><a href="/project">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>

        </div>

        <!-- Contact -->
        <div class="footer-box">

            <h3>Contact Us</h3>

            <p>
                <i class="fa-solid fa-location-dot"></i>
                Unit No.2140,Oberoi Garden Estate, D wing, Second Floor,
            Chandivali Farm Road, Adjacent to Chandivali Studio, Chandivali-
            Andheri (E),Mumbai 400 072
            </p>

            <p>
                <i class="fa-solid fa-phone"></i>
                +91-8693835656
            </p>

            <p>
                <i class="fa-solid fa-envelope"></i>

                <a href="mailto:info@pceengineering.com">
                    info@pceengineering.com
                </a>
            </p>

            <p>
                <i class="fa-solid fa-envelope"></i>

                <a href="mailto:projects@pceengineering.com">
                    projects@pceengineering.com
                </a>
            </p>

            <p>
                <i class="fa-solid fa-envelope"></i>

                <a href="mailto:projects@pceengineering.com">
                    mk@pceengineering.com
                </a>
            </p>

            <p>
                <i class="fa-solid fa-clock"></i>
                Mon - Sat | 9:00 AM - 6:00 PM
            </p>

        </div>

        <!-- Social -->
        <div class="footer-box">

            <h3>Follow Us</h3>

            <div class="footer-social">

                <a href="https://www.linkedin.com/company/pce-consulting-engineers-llp/posts/?feedView=all" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>

                <a href="https://www.youtube.com/@instpce3554" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>

                <a href="#">
                    <i class="fab fa-x-twitter"></i>
                </a>

            </div>

        </div>

    </div>

    <div class="footer-bottom">

        <p>
            © 2026 PCE Consulting & Engineers LLP. All Rights Reserved.
        </p>

    </div>

</footer><footer class="footer">

    <div class="footer-container">

        <!-- Company -->
        <div class="footer-box company-box">

            <img src="static/home/logos/PCE_2.png" alt="PCE Logo" class="footer-logo">

            <p>
                PCE Consulting & Engineers LLP provides innovative engineering,
                automation and industrial solutions with a commitment to quality,
                safety and customer satisfaction.
            </p>

        </div>

        <!-- Quick Links -->
        <div class="footer-box">

            <h3>Quick Links</h3>

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/service">Services</a></li>
                <li><a href="/project">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>

        </div>

        <!-- Contact -->
        <div class="footer-box">

            <h3>Contact Us</h3>

            <p>
                <i class="fa-solid fa-location-dot"></i>
                Unit No.2140,Oberoi Garden Estate, D wing, Second Floor,
            Chandivali Farm Road, Adjacent to Chandivali Studio, Chandivali-
            Andheri (E),Mumbai 400 072
            </p>

            <p>
                <i class="fa-solid fa-phone"></i>
                +91-8693835656
            </p>

            <p>
                <i class="fa-solid fa-envelope"></i>

                <a href="mailto:info@pceengineering.com">
                    info@pceengineering.com
                </a>
            </p>

            <p>
                <i class="fa-solid fa-envelope"></i>

                <a href="mailto:projects@pceengineering.com">
                    projects@pceengineering.com
                </a>
            </p>

            <p>
                <i class="fa-solid fa-envelope"></i>

                <a href="mailto:projects@pceengineering.com">
                    mk@pceengineering.com
                </a>
            </p>

            <p>
                <i class="fa-solid fa-clock"></i>
                Mon - Sat | 9:00 AM - 6:00 PM
            </p>

        </div>

        <!-- Social -->
        <div class="footer-box">

            <h3>Follow Us</h3>

            <div class="footer-social">

                <a href="https://www.linkedin.com/company/pce-consulting-engineers-llp/posts/?feedView=all" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>

                <a href="https://www.youtube.com/@instpce3554" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>

                <a href="#">
                    <i class="fab fa-x-twitter"></i>
                </a>

            </div>

        </div>

    </div>

    <div class="footer-bottom">

        <p>
            © 2026 PCE Consulting & Engineers LLP. All Rights Reserved.
        </p>

    </div>

</footer>
  </body>
</html>
